<template>
  <div class="message-input">
    <input type="text"
            placeholder="Your Message"
            @keydown.13="submitMessage" />
  </div>
</template>
<script>

export default {
  name: 'MessageInput',
  methods: {
    submitMessage(e) {
      this.$store.dispatch('submitMessage', e.target.value);
    },
  },
};
</script>
<style lang="scss">
  .message-input {
    display: flex;
    input {
      flex: 1;
    }
  }
</style>
