<template>
  <div>
    <div>
      <strong>Messages:</strong>
      <span>{{numOfMessages}}</span>
    </div>
    <ul class="messages">
      <li v-for="message in messages"
            :key="message.id">
        <message :username="message.username"
                  :msg="message.msg"></message>
      </li>
    </ul>
  </div>
</template>
<script>
import { mapGetters, mapState } from 'vuex';
import Message from './Message.vue';

export default {
  name: 'Messages',
  components: {
    Message,
  },
  computed: {
    ...mapGetters([
      'numOfMessages',
    ]),
    ...mapState([
      'messages',
    ]),
  },
};
</script>
<style scoped lang="scss">
  .messages {
    list-style-type: none;
  }
</style>
