<template>
  <div class="message">
    <span class="username">
      {{ username }}:
    </span>
    <span class="msg">
      {{ msg }}
    </span>
  </div>
</template>

<script>
import { mapState } from 'vuex';

export default {
  name: 'Message',
  props: {
    username: String,
    msg: String,
  },
  computed: {
    ...mapState([
      'message',
    ]),
  },
};
</script>

<style scoped lang="scss">
.username {
  font-weight: bold;
  color: #3F3FFF;
  margin-right: 50px;
}
</style>
