<template>
  <div id="app">
    <Messages />
    <MessageInput></MessageInput>
  </div>
</template>

<script>
import Messages from './components/Messages.vue';
import MessageInput from './components/MessageInput.vue';

export default {
  name: 'app',
  components: {
    Messages,
    MessageInput,
  },
};
</script>

<style lang="scss">
@import './scss/main.scss';
</style>
