#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-top: 60px;
}
.messages {
  border: 1px solid #CCC;
  border-radius: 4px;
  padding: 20px;
  min-height: 400px;
}
